{{PROJECT_NAME}}-mxcp:
  outputs:
    prod:
      type: duckdb
      path: data/db-prod.duckdb
      extensions:
        - httpfs
        - spatial
      settings:
        s3_region: {{AWS_REGION}}
      threads: 4
      
  target: prod
